h1 {
	color: mediumseagreen;
	font-family: cambria, serif;
	font-size: 3.3em;
	margin-bottom: 0;
}

p {
	margin-top: 2px;
	color: gray;
	font-family: cambria, serif;
}

body {
	text-align: center;
	background: #e3fade;
}

img {
	border-radius: 3%;
}

input {
	font-family: cambria, serif;
	font-size: 1.3em;
	text-align: center;
	width: 300px;
	height:35px;
}

#turtlename {
	font-family: cambria, serif;
	font-size: 1.8em;
}